*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: beige;
}

main{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 80%;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 50px 12px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cleft{
    width: 40%;
    height: 90%;
   
}

#cright{
    width: 30%;
    height: 70%;
    border-radius: 45% 55% 30% 70% / 56% 45% 55% 44% ;

    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cG9ydHJhaXQlMjBnaXJsfGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;


}


#cleft h1{
    font-size:40px;
}

#cleft h1 span:nth-child(1){
    color: rgb(215,170,178);
}
#cleft h1 span:nth-child(2){
    color:rgb(156,167,247);
}
#cleft h1 span:nth-child(3){
    color: rgb(174,175,239);
}

#cleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ---------Button CSS------------ */

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;

    margin-top: 30px;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;

    cursor: pointer;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

/* --------------------------- */

@media (width<=800px) {
    #container{
        flex-direction: column-reverse;
    }

    #cright{
        margin-top: 30px;
        border-radius: 50%;
        width: 80px;
        height: 80px;

    }
    
}